<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form ng-submit="pst.sendPost()">
    <div class="form-group">
        <label for="text">Your post</label>
        <input type="text" class="form-control" id="text" placeholder="share your thoughts..." ng-model="pst.newpst.text">
    </div>
    <button type="submit" class="btn btn-default">Post</button>
</form><br>

<!--Upload image <input type="file" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
<span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
<img data-ng-src="uploadedImage" data-ng-if="uploadedImage">-->

<div ng-repeat="post in pst.posts | orderBy: '-'">
    <div ng-repeat="friend in pst.friends">
        <div class="well well-lg" ng-show="post.creator._id == friend._id || post.creator._id == main.usr._id">
            <div ng-show="post.recipient._id == post.creator._id" >{{post.creator.first_name}} shared a post<br><br></div>
            <div ng-show="post.recipient._id != post.creator._id">{{post.creator.first_name}}  >>  {{post.recipient.first_name}}</div>
            <div>{{post.text}}<br><br></div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{post._id}}" aria-expanded="false" aria-controls="collapseComments">Comment</button>
            <button class="btn btn-primary" type="button" ng-click="pst.removePost(post._id)" ng-show="post.recipient._id == main.usr._id || post.creator._id == main.usr._id">Remove Post</button>
            <div class="collapse in" id={{post._id}}>
            <br><form ng-submit="pst.sendComment(post._id)">
                        <br><div class="well">
                            <label for="comment"></label>
                            <input type="text" class="form-control" id="comment" placeholder="comment..." ng-model="pst.newcmt[post._id].text">
                        </div>
                        <div ng-repeat="comment in post.comments | orderBy: '+'" class="alert alert-info" role="alert">{{comment.creator}} say<br><br>{{comment.text}}
                            <button class="btn btn-primary" type="button" ng-click="pst.removeComment(post._id, comment._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>